.container {
    max-width: 310px;
    border: 1px solid black;
    box-shadow: 2px 2px;
    padding: 10px;
    background-color: lightblue;
    font-family: Times, sans-serif;
}

h3 {
    font-weight: bold;
    font-size: 24px;
}

img {
    max-width: 300px;
    margin: 5px;
    text-align: center;
}

.information {
    width: 300px;
    border: 1px solid black;
    margin: 5px;
}

p.randomfact {
    font-style: italic;
    padding-left: 4px;
}

p.animal-overview {
    font-style: normal;
    padding-left: 4px;
}

ul {
    list-style: none; 
    padding-left: 4px;
}

span {
    font-weight: bold;
}